.word_carousel-main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 0;
}

.word_carousel-main .word-main {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: fadeWords 27s infinite;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #ccc;
  pointer-events: none;
  transform: translateY(0);
  transition: opacity 1s ease-in-out;
  top: 30%;
}

.word_carousel-main .word-main:nth-child(1) {
  animation-delay: 0s;
}
.word_carousel-main .word-main:nth-child(2) {
  animation-delay: 3s;
}
.word_carousel-main .word-main:nth-child(3) {
  animation-delay: 6s;
}
.word_carousel-main .word-main:nth-child(4) {
  animation-delay: 9s;
}
.word_carousel-main .word-main:nth-child(5) {
  animation-delay: 12s;
}
.word_carousel-main .word-main:nth-child(6) {
  animation-delay: 15s;
}
.word_carousel-main .word-main:nth-child(7) {
  animation-delay: 18s;
}
.word_carousel-main .word-main:nth-child(8) {
  animation-delay: 21s;
}
.word_carousel-main .word-main:nth-child(9) {
  animation-delay: 24s;
}

@keyframes fadeWords {
  0% {
    opacity: 0;
    transform: translateY(80px);
    text-shadow: none;
    color: red;
  }
  10% {
    opacity: 1;
    transform: translateY(0);
    text-shadow: 0 0 20px #fff;
    color: #87CEEB;
  }
  15% {
    opacity: 0;
  }
  20% {
    text-shadow: 0 0 10px #fff;
    opacity: 0;
    color: #50C878;
  }
  30% {
    opacity: 0;
    transform: translateY(80px);
    text-shadow: 0 0 5px #fff;
    color: #FFD700;
  }
  40% {
    opacity: 0;
    transform: translateY(80px);
    text-shadow: none;
    color: #7851A9;
  }
  100% {
    opacity: 0;
    transform: translateY(80px);
    text-shadow: none;
    color: #FF7F50;
  }
}

.line {
  position: absolute;
  top: 50%;
  width: 0;
  height: 4px;
  background-color: white;
  animation: expandLine 3s ease-out forwards,
    changeColor 9s 3s infinite alternate;
}

@keyframes expandLine {
  to {
    width: 750px;
  }
}

@keyframes changeColor {
  0% {
    background-color: #00ffff;
  } /* Cian eléctrico */
  10% {
    background-color: #4169e1;
  } /* Azul real */
  20% {
    background-color: #ff00ff;
  } /* Magenta */
  30% {
    background-color: #ffff99;
  } /* Amarillo pastel */
  40% {
    background-color: #98ff98;
  } /* Verde menta */
  50% {
    background-color: #ff7f7f;
  } /* Coral claro */
  60% {
    background-color: #cda4de;
  } /* Violeta suave */
  70% {
    background-color: #ffa07a;
  } /* Naranja luz */
  80% {
    background-color: #bbbbbb;
  } /* Gris claro */
  100% {
    background-color: #ffffff;
  } /* Blanco */
}
