@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

* {
  font-family: "Noto Sans TC", serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(167, 3, 3),
    rgb(104, 24, 80) 50%
  );
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  height: 300px;
  gap: 10px;
}

h1 {
  align-self: center;
}

input {
  align-self: center;
  width: 250px;
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
}

input::placeholder{
  font-size: 20px;
}

input:focus {
  outline: none;
}

a {
  align-self: center;
  color: black;
}

a:hover{
  color: blue;
}

button {
  align-self: center;
  width: 200px;
  height: 50px;
  margin-top: 10px;
  border: none;
  background-image: linear-gradient(
    to right bottom,
    rgb(212, 73, 73),
    rgb(161, 38, 124)
  );
  cursor: pointer;
}

button:active{
  background-image: linear-gradient(
    to right bottom,
    rgb(101, 13, 13),
    rgb(84, 13, 63)
  );
  color: white;
}

p{
  align-self: center;
}