body {
  height: 100vh;
}

header {
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

ul {
  list-style: none;
}

#list1 {
  margin-right: 25px;
}

button {
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
}

footer {
  margin-top: 40px;
  border-top: 1px solid black;
}

#contenido {
  margin-top: 100px;
  margin-right: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
