* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
header > h5 {
  margin-left: 12rem;
}

header > div {
  display: flex;
  gap: 1rem;
  margin-right: 11rem;
}

header > div > a > button {
  border-radius: 1rem;
  background-color: black;
  color: white;
  margin-top: 10px;
  height: 2rem;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

header > div > a {
  text-decoration: none;
  color: white;
}

footer {
  border-top: 2px solid silver;
  margin-top: 6rem;
  text-align: center;
}

footer > p {
  color: rgb(97, 97, 97);
}

footer > p > a {
  text-decoration: none;
  color: black;
}

section > article > nav > .sep {
  margin-left: 1rem;
}

form > #cont {
  color: white;
  margin-right: 3rem;
}

#final {
  background-color: black;
  text-align: center;
  margin-left: 15rem;
  margin-right: 15rem;
  padding-bottom: 6rem;
  padding-top: 2rem;
  width: 90rem;
  margin-top: 6rem;
}

#final > h1 {
  color: white;
  font-size: 6rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 300;
}

#final > form > div > input {
  border: none;
  width: 23rem;
  height: 45px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 50px;
}

#final > form > div > input[type="email"] {
  padding-left: 30px;
  color: silver;
  font-size: 17px;
}

#final > form > div > input::placeholder {
  padding-left: 30px;
  color: silver;
  font-size: 17px;
}

#final > form > div > button {
  border: none;
  height: 45px;
  width: 7rem;
  background-color: white;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}

#principio > h1 {
  text-align: center;
  font-size: 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}

#principio > nav > ul {
  display: flex;
  gap: 4rem;
  margin-left: 25rem;
}

#principio > nav > ul > li {
  list-style-type: none;
}

#principio > nav > ul > li > a {
  text-decoration: none;
  color: black;
}

#parte1 {
  display: flex;
  gap: 10rem;
  margin: 12rem;
  margin-top: 4rem;
}

#parte1 > article > img {
  width: 25rem;
}

#parte1 > article > nav > a {
  text-decoration: none;
  color: black;
}

#parte2 {
  display: flex;
  gap: 10rem;
  margin: 12rem;
  margin-top: -10rem;
}

#parte2 > article > img {
  width: 25rem;
}

#parte2 > article > nav > a {
  text-decoration: none;
  color: black;
}
