body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

header > h3 {
  margin-top: -5px;
  margin-left: 1rem;
}

article {
  border: 1px solid;
  flex: 1;
}

nav > a {
  text-decoration: none;
  color: black;
}

nav {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: rgb(46, 118, 212);
}

h1,
#textoTit {
  text-align: center;
}

#education > ul {
  list-style-type: "- ";
}

#titProf {
  margin-left: 2rem;
  margin-top: 1.8rem;
}

#seccion1 {
  display: flex;
  border: 1px solid;
}

#seccion1 > article {
  flex: 1;
}

#seccion2 {
  display: flex;
  margin-top: 4rem;
  gap: 8rem;
}

#final {
  text-align: center;
  margin-top: 4rem;
  margin-right: 3rem;
}

#listaProjects {
  list-style-type: none;
}

#intento {
  border: 1px solid black;
}

#articulo1 > h3 {
  margin-left: 2rem;
}

#articulo1 > ul > li {
  position: relative;
  margin-top: 2rem;
  margin-left: -2.6rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  border-bottom: 2px solid black;
}

#articulo1 > ul > #ultProj {
  border-bottom: none;
}

#articulo2 > #intento {
  margin-left: initial;
}

#articulo2 > #cuadro1 > h4 {
  margin-top: 1.5rem;
}

#articulo2 > #cuadro1 > * {
  margin-left: 2rem;
}

#articulo2 > #cuadro1 > p {
  margin-top: -0.1rem;
  padding-bottom: 1rem;
}

#articulo2 > #cuadro2 > * {
  margin-left: 2rem;
}

#education > * {
  margin-left: 2rem;
}

#education > ul {
  margin-left: initial;
}

.nombreProf,
#textoTit {
  color: silver;
}

.mensajeProfesores {
  border: 2px solid;
  border-radius: 30px;
  width: 13rem;
  padding: 20px;
  margin-left: 7rem;
  margin-right: 10rem;
  margin-top: -2rem;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}
