body {
  background-image: linear-gradient(
    blue,
    mediumpurple,
    rebeccapurple,
    midnightblue
  );
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 508px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: green;
}

input {
  width: 500px;
  height: 40px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

/* Contenedor flex para Remember me y Forgot password */
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 508px;
  margin-top: 10px;
}

#check {
  margin-left: -14rem;
  cursor: pointer;
}

#remember {
  display: flex;
  align-items: center;
}

#remember #check {
  margin-right: -14rem;
}

#forgot {
  text-decoration: none;
  font-size: 14px;
  margin-left: auto;
  transition: 0.3s;
}

#forgot:hover {
  color: white;
}
