@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(167, 3, 3),
    rgb(104, 24, 80) 50%
  );
}
input:focus {
  outline: none;
}

input::placeholder {
  transition: color 0.5s ease-in-out;
}

input:focus::placeholder {
  color: transparent;
}

#part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 250px;
  box-shadow: 0px 2px 15px black;
}

#part1 > h1 {
  font-size: 30px;
  margin: 0;
}

#email {
  width: 70%;
  height: 15%;
  border: 1px solid lightgray;
}

#email::placeholder,
#npassword::placeholder,
#confnpassword::placeholder {
  padding-left: 10px;
}

#continue {
  margin-top: 20px;
  width: 70%;
  height: 15%;
  font-size: 26px;
  background-image: linear-gradient(
    to bottom right,
    rgb(167, 3, 3),
    rgb(104, 24, 80)
  );
  color: white;
  border: none;
  cursor: pointer;
}

#continue:active,
#change:active {
  background-image: linear-gradient(
    to bottom right,
    rgb(73, 5, 5),
    rgb(65, 13, 49)
  );
}

#part2 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 410px;
  box-shadow: 0px 2px 15px black;
  gap: 10px;
}

#part2 > p {
  background-color: rgba(157, 222, 157, 0.585);
  color: rgb(30, 125, 41);
  margin: -10px 20px 20px 20px;
  padding: 15px;
}

#part2 > h1 {
  font-size: 30px;
}

#part2 > input {
  width: 350px;
  height: 50px;
  border: 1px solid lightgray;
}

#part2 > #npassword {
  margin-top: -10px;
}

#change {
  width: 350px;
  height: 40px;
  background-image: linear-gradient(
    to bottom right,
    rgb(167, 3, 3),
    rgb(104, 24, 80)
  );
  color: white;
  border: none;
  cursor: pointer;
}

#cont, #cont2{
  display: flex;
  justify-content: center;
}

#part3{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 250px;
  box-shadow: 0px 2px 15px black;
}